.menu-item-config {
	border: 1px solid #b7b7b7;
    padding: 3%;
    margin: 0 5%;
    margin-bottom: 1%;
    background-color: #fbfbfb;
    border-radius: 10px;
}

.custom-link-menu {
	padding: 3%;
}

/* Links Configure CSS */
.link-tab {
	box-sizing: border-box;
	font-family: 'Muli', "Helvetica", Arial, sans-serif;
}

.link-tab {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

.tablink {
    background-color: #e8d5c1;
    color: #1d1d1d;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    font-weight: bolder;
}

.tablink:hover,.tablink.active {
    background-color: #582f2f;
    color: whitesmoke;
    transition: 1s ease all;
}

.tabcontent {
    background-color: #efefef;
    color: #5f5c5c;
    padding: 5% 2%;
    display: none;
    height: 100%;
}

.card .numbers{
    font-size: 1.19em;
    font-weight: bolder;
}

a#your-link_previous {
    background-color: #582f2f !important; 
    color: white !important;
    padding: 1% !important;
}

a#your-link_next {
    background-color: #582f2f !important;
    color: white !important;
    padding: 1% !important;
}

a.paginate_button.current {
    background-color: #e8d5c1 !important;
    border: 1px solid #5d4a4a !important;
    color: #582f2f !important;
    font-weight: bolder !important;
    padding: 1% !important;
    margin: 0 0.2% !important;
}

a.paginate_button {
    background-color: #582f2f !important;
    padding: 1% !important;
    color: white !important;
    margin: 0 0.2% !important;
}

.overview-edit {
    font-weight: bolder;
    color:red;
    font-style: italic;
}

span.search-item-data {
    background-color: #822828;
    padding: 1%;
    color: white;
    font-weight: bolder;
    display: inline-block;
    margin-bottom: 1%;
}

span.search-item-data a {
    font-weight: bolder;
}

.search-data-table {
    padding : 2% !important;
}

span.twitter-typeahead {
    width: 100% !important;
}

ul#hashtagged-ul, ul#hashtag-ul {
    list-style-type: none;
}

li.li-hashtag {
    position: relative;
    background-color: #e4e6e6;
    padding: 3px;
    box-sizing: border-box;
    font-size: 0.7em;
    margin-right: 25px;
    display: inline-block;
    margin-top: 6px;
    color: #272121;
    border-radius: 10px 0 0 10px;
    padding-left: 6px;
    height: 22px;
    line-height: 19px;
}

li.li-hashtag:before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    background-image: url(../../img/hash.png);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    right: -22px;
    display: block;
    background-color: #0e232c38;
    border-radius: 0 10px 10px 0;
}

.list-hashtagged {
    border: 1px solid #ccc5b9;
    border-radius: 4px;
    padding-top: 2%;
    min-height: 50px;
    height: auto;
}

span.removeHTNow {
    border-radius: 100%;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    position: absolute;
    top: -3px;
    left: -1px;
    font-size: 6px;
}

.box-content {
    min-height: 50px;
    border: 1px solid #ccc5b9;
    margin-left: 15px;
    width: 96%;
    border-radius: 5px;
    height: auto;
    padding-bottom: 2%;
}

button.custom-dl-btn {
    background-color: #9e3b4c;
    width: 85px;
    height: 40px;
    color: white;
    font-size: 25px;
    font-weight: 800;
    line-height: 25px;
    border: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
}

.downloaded-box {
    margin-bottom: 1%;
}

button.btn.btn-romo.btn-warning.btn-fill.btn-xs {
    border-radius: 0;
    height: 38px;
    width: 38px;
}

.card form [class*="col-"] {
    padding-left: 1%;
}

.card form [class*="col-"]:first-child {
    padding-left: 1%;
}

.setting-page .card .content .row {
    margin-right: unset;
    margin-left: unset;
}

.donateboxsetting {
    padding: 15px;
}

.donateboxsetting table td {
    word-break: break-word;
}

.hashS3Item {
    width: 400px;
    height: 30px;
}

.loading-wrap {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f7f7f7a7;
    display: none;
    justify-content: center;
    align-items: center;
}

@keyframes ldio-4rdaneva26h {
    0% { transform: scale(1.1500000000000001) }
    100% { transform: scale(1) }
}
.ldio-4rdaneva26h div {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 13.333333333333336px;
    left: 13.333333333333336px;
    background: #e15b64;
    animation: ldio-4rdaneva26h 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.3s;
}
.ldio-4rdaneva26h div:nth-child(2) {
    top: 13.333333333333336px;
    left: 106.66666666666666px;
    background: #f47e60;
    animation-delay: -0.2s;
}
.ldio-4rdaneva26h div:nth-child(3) {
    top: 106.66666666666666px;
    left: 13.333333333333336px;
    background: #abbd81;
    animation-delay: 0s;
}
.ldio-4rdaneva26h div:nth-child(4) {
    top: 106.66666666666666px;
    left: 106.66666666666666px;
    background: #f8b26a;
    animation-delay: -0.1s;
}
.loadingio-spinner-cube-ybnfvzk6hrb {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #f7f7f7;
}
.ldio-4rdaneva26h {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-4rdaneva26h div { box-sizing: content-box; }

.deleteBtn {
    width: 70px;
    background-color: #cd2d2d;
    text-align: center;
    color: white;
    font-weight: lighter;
    border-radius: 10px;
    box-shadow: aquamarine 0px 0px 0px;
    transition: .4s ease-in all;
}

.deleteBtn:hover {
    margin-bottom: 10px;
    box-shadow: aquamarine 5px 3px 2px;
    background-color: #ff6403;
}
